body {
  background: #e0e0e0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#timerText {
  color: #00aaff;
  font-size: 128px;
  margin: 40px auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
